package views

templ base() {
	<!DOCTYPE html>
	<html lang="en">
		<nav>
			<a href="/">BLOGBLOGBLOG</a>
		</nav>
		<body>
			{ children... }
			<footer>
				<aside>
					<p>Copyright ©2024 </p>
					<p>All right reserved by Cameron Green</p>
				</aside>
			</footer>
		</body>
	</html>
}
